---
title: Introduction
---
          <h1><a name="description" class="anchor"></a>Description</h1>
          <p><strong>{{ site.data.gextractwinicons.name }}</strong> is a free
            application to extract cursors, icons and png images from Microsoft
            Windows resource files (like .exe, .dll, .ocx, .cpl).</p>
          <p><img src="../../resources/{{ page.layout }}/archive/latest/{{ page.language }}/main.png"></p>

          <h1><a name="installation" class="anchor"></a>Installation</h1>
          <p>The stable versions released with source code and prebuilt packages
            are linked in the <a href="download.html">Download page</a>.
            For information about installation from packages or source code
            please refer to the <a href="install.html">Installation page</a>.</p>
          <p>The {{ site.data.gextractwinicons.name }} development version 
            source code is 
            <a href="{{ site.data.gextractwinicons.gitrepo }}">available on GitHub</a>.</p>

{% include translations.html module=site.data.gextractwinicons languages_page=false %}
{% include license.html module=site.data.gextractwinicons short=false %}
