---
title: Introduction
---
          <h1><a name="description" class="anchor"></a>Description</h1>
          <p><strong>{{ site.data.gextractwinicons.name }}</strong> is a free
            application to extract cursors, icons and png images from Microsoft
            Windows resource files (like .exe, .dll, .ocx, .cpl).</p>
          <p><img src="/resources/{{ page.layout }}/archive/latest/{{ page.language }}/main.png"></p>

{% include installation.md type='index' %}
{% include translations.html %}
{% include license.html type='index' %}
