---
title: Introduzione
---
          <h1><a name="description" class="anchor"></a>Description</h1>
          <p><strong>{{ site.data.cpucompare.name }}</strong> &egrave;
            un'applicazione libera basata sulle GTK+ per paragonare modelli di
            CPU. Puoi sfogliare i modelli di CPU per marca e serie e trovare
            quelle di tuo interesse. Ogni CPU ha un suo punteggio basato su
            benchmark in modo da poter determinare quale processore ha migliori
            o peggiori prestazioni.</p>
          <p><img src="/resources/{{ page.layout }}/archive/latest/{{ page.language }}/main.png"></p>

{% include installation.html type='index' %}
{% include license.html type='index' %}
