---
title: Introduzione
---
          <h1><a name="description" class="anchor"></a>Descrizione</h1>
          <p><strong>{{ site.data.bluewho.name }}</strong> &egrave; 
            un'applicazione libera che ricercher&agrave; dispositivi Bluetooth
            nelle vicinanze e informer&agrave; quando un nuovo dispositivo viene
            scoperto.</p>
          <p><img src="/resources/{{ page.layout }}/archive/latest/{{ page.language }}/main.png"></p>
          <p>Quando un nuovo dispositivo &egrave; rilevato una notifica
            pu&ograve; essere mostrata, come da finestra delle preferenze.</p>
          <p><img src="/resources/{{ page.layout }}/archive/latest/{{ page.language }}/notification.png"></p>
          <p>Varie preferenze possono essere impostate per scansione e notifiche.</p>
          <p><img src="/resources/{{ page.layout }}/archive/latest/{{ page.language }}/preferences.png"></p>
          <p>Per ogni dispositivo rilevato pu&ograve; essere ottenuta una lista
            dei servizi disponibili nel dispositivo.</p>
          <p><img src="/resources/{{ page.layout }}/archive/latest/{{ page.language }}/services.png"></p>

{% include installation.md type='index' %}
{% include translations.html %}
{% include license.md type='index' %}
