---
layout: remmina-plugin-rdesktop
title: Settings
language: english
---
          <h1><a name="general" class="anchor"></a>Basic tab</h1>
          <p><img src="../../resources/{{ page.layout }}/archive/latest/{{ page.language }}/general.png"></p>
          <ul>
{% include remmina-setting.html name="Server"                                   codename="server"             description="The server address to connect to." %}
{% include remmina-setting.html name="User name"                                codename="username"           description="The user name used to establish the connection." %}
{% include remmina-setting.html name="Password"                                 codename="password"           description="The password used to authenticate the user name." %}
{% include remmina-setting.html name="Domain"                                   codename="domain"             description="The network domain of the destination host." %}
{% include remmina-setting.html name="Resolution"                               codename="resolution"         description="The server window resolution." %}
{% include remmina-setting.html name="Color depth"                              codename="colordepth"         description="The colour depth for the image window." %}
{% include remmina-setting.html name="Experience"                               codename="experience"         description="A list of performances settings to speed the network connection." %}
{% include remmina-setting.html name="Sound"                                    codename="sound"              description="Specify the sound output if to mute or to process on the client side or to leave on the server side." %}
{% include remmina-setting.html name="Share folder"                             codename="sharefolder"        description="Specify a folder to share with the server." %}
          </ul>

          <h1><a name="advanced" class="anchor"></a>Advanced tab</h1>
          <p><img src="../../resources/{{ page.layout }}/archive/latest/{{ page.language }}/advanced.png"></p>
          <ul>
{% include remmina-setting.html name="Window title"                             codename="title"              description="The window title if detached." %}
{% include remmina-setting.html name="Client name"                              codename="clientname"         description="The client name to show to the server." %}
{% include remmina-setting.html name="Startup program"                          codename="exec"               description="The program to execute after the connection is established (leave blank for the regular desktop)." %}
{% include remmina-setting.html name="Startup path"                             codename="execpath"           description="The path for the startup program to execute." %}
{% include remmina-setting.html name="Keyboard map"                             codename="keymap"             description="The keyboard layout to use." %}
{% include remmina-setting.html name="Fullscreen"                               codename="fullscreen"         description="Set the detached window as fullscreen." %}
{% include remmina-setting.html name="Seamless RDP"                             codename="seamlessrdp"        description="Execute the startup program seamlessly, hiding the rest of the desktop." %}
{% include remmina-setting.html name="Seamless RDP Shell path"                  codename="seamlessrdpshell"   description="The path for the Seamless RDP shell." %}
{% include remmina-setting.html name="Attach to console"                        codename="console"            description="Attach to the console instead of establish a new RDP connection." %}
{% include remmina-setting.html name="RDP Datastream compression"               codename="compression"        description="Compress the RDP data." %}
{% include remmina-setting.html name="Bitmap caching"                           codename="bitmapcaching"      description="Cache images in memory to enhance the performances." %}
{% include remmina-setting.html name="Don't send mouse motion events"           codename="nomousemotion"      description="Don't move the mouse pointer in the server side when the mouse pointer is moved in the client side." %}
{% include remmina-setting.html name="Hide WM decorations"                      codename="hidedecorations"    description="Hide the window manager decorations." %}
{% include remmina-setting.html name="Detached window"                          codename="detached"           description="Detach the window instead of showing the RDesktop window integrated in Remmina." %}
{% include remmina-setting.html name="Don't grab keyboard"                      codename="nograbkeyboard"     description="Do not override window manager key binding when the window has the focus." %}
{% include remmina-setting.html name="Force RDP version 4"                      codename="rdp4"               description="Force the use of RDP protocol version 4." %}
{% include remmina-setting.html name="Force RDP version 5"                      codename="rdp5"               description="Force the use of RDP protocol version 5." %}
{% include remmina-setting.html name="Numlock synchronization"                  codename="syncnumlock"        description="Synchronize the numlock led status." %}
{% include remmina-setting.html name="Disable encryption"                       codename="noencryption"       description="Disable the encryption if it causes troubles." %}
          </ul>
