---
title: Impostazioni
---
          <h1><a name="general" class="anchor"></a>Scheda Generale</h1>
          <p><img src="/resources/{{ page.layout }}/archive/latest/{{ page.language }}/general.png"></p>
          <ul>
{% include remmina-setting.html name="URL"                                      codename="server"             description="L'indirizzo della pagina web da aprire." %}
{% include remmina-setting.html name="Browser"                                  codename="browser"            description="L'applicazione utilizzata per aprire la pagina web.<ul><li><strong>Automatically detected</strong> utilizzer&agrave; xdg-open</li><li><strong>Graphical browser</strong> utilizzer&agrave; x-www-browser</li><li><strong>Console browser</strong> utilizzer&agrave; www-browser</li><li><strong>GNOME default browser</strong> utilizzer&agrave; gnome-www-browser</li><li><strong>Mozilla Firefox</strong> utilizzer&agrave; il browser firefox</li><li><strong>Iceweasel</strong> utilizzer&agrave; il browser iceweasel</li><li><strong>Epiphany</strong> utilizzer&agrave; il browser epiphany</li></ul>" %}
          </ul>
