---
title: Impostazioni
---
          <h1><a name="general" class="anchor"></a>Scheda Generale</h1>
          <p><img src="../../resources/{{ page.layout }}/archive/latest/{{ page.language }}/general.png"></p>
          <ul>
{% include remmina-setting.html name="Programma di avvio"                       codename="server"             description="Il file da aprire, comprensivo del percorso." %}
{% include remmina-setting.html name="Launcher"                                 codename="launcher"           description="L'applicazione da utilizzare per rilevare l'associazione del file.<ul><li><strong>Automatically detected</strong> utilizzer&agrave; xdg-open</li><li><strong>Open for GNOME</strong> utilizzer&agrave; gnome-open</li></ul>" %}
          </ul>