---
title: Introduzione
---
          <h1><a name="description" class="anchor"></a>Description</h1>
          <p><strong>{{ site.data.gnome-appfolders-manager.name }}</strong> &egrave;
            un'applicazione libera basata sulle GTK+ per creare e modificare
            le cartelle delle applicazioni (<i>AppFolders</i>) su GNOME Shell.</p>
          <p><img src="/resources/{{ page.layout }}/archive/latest/{{ page.language }}/main.png"></p>
          
          <p>Tramite la sezione di sinistra sarà possibile creare una nuova
            cartella di applicazioni oppure rimuoverne una esistente.</p>
          <p><img src="/resources/{{ page.layout }}/archive/latest/{{ page.language }}/create-folder.png"></p>
          
          <p>Nella sezione di destra saranno elencate le applicazioni che
            saranno visibili all'interno della cartella scelta e sarà possibile
            aggiungerne di nuove oppure eliminare quelle già definite.</p>
          <p><img src="/resources/{{ page.layout }}/archive/latest/{{ page.language }}/add-applications.png"></p>

          <p>Al termine della modifica di una cartella basterà cliccare il
            pulsante <b>Salva</b> in alto a destra per applicare le modifiche
            alla cartella di applicazioni.</p>
          <p><img src="/resources/{{ page.layout }}/archive/latest/{{ page.language }}/main-with-new-appfolder.png"></p>

          <p>Spostandosi nella schermata con tutte le applicazioni di GNOME
            Shell per trovare le cartelle definite.</p>
          <p><img src="/resources/{{ page.layout }}/archive/latest/{{ page.language }}/gnome-shell-appfolder.png"></p>

          <h1><a name="installation" class="anchor"></a>Installazione</h1>
          <p>I rilasci delle versioni stabili con codice sorgente e pacchetti
            precompilati sono presenti nella 
            <a href="download.html">pagina Scarica</a>.
            Per informazioni sull'installazione da pacchetti o con codice
            sorgente fare riferimento alla 
            <a href="install.html">pagina Installazione</a>.</p>
          <p>Il codice sorgente di {{ site.data.gnome-appfolders-manager.name }} &egrave;
            <a href="{{ site.data.gnome-appfolders-manager.gitrepo }}">disponibile su Github</a>
            con la versione attualmente in sviluppo.</p>

{% include translations.html module=site.data.gnome-appfolders-manager languages_page=true %}
{% include license.md type='index' %}
