---
title: Introduction
---
          <h1><a name="description" class="anchor"></a>Description</h1>
          <p><strong>{{ site.data.gnome-appfolders-manager.name }}</strong> is
            a free GTK+ application to create and edit applications folders
            (<i>AppFolders</i>) for GNOME Shell.</p>
          <p><img src="/resources/{{ page.layout }}/archive/latest/{{ page.language }}/main.png"></p>
          
          <p>In the left section of the window you can create a new application
            folder or remove an existing folder.</p>
          <p><img src="/resources/{{ page.layout }}/archive/latest/{{ page.language }}/create-folder.png"></p>
          
          <p>In the right section of the window the visible applications for
            the selected folders will be shown and you can add a new application
            or remove any existing.</p>
          <p><img src="/resources/{{ page.layout }}/archive/latest/{{ page.language }}/add-applications.png"></p>

          <p>After finishing the folder edit you can just click the upper left
            <b>Save</b> button to apply the modifications to the application
            folder.</p>
          <p><img src="/resources/{{ page.layout }}/archive/latest/{{ page.language }}/main-with-new-appfolder.png"></p>

          <p>Opening the GNOME Shell applications overview you can see any
            defined AppFolder.</p>
          <p><img src="/resources/{{ page.layout }}/archive/latest/{{ page.language }}/gnome-shell-appfolder.png"></p>

{% include installation.html type='index' %}
{% include translations.html %}
{% include license.html type='index' %}
