---
title: Introduction
---
          <h1><a name="description" class="anchor"></a>Description</h1>
          <p><strong>{{ site.data.gwakeonlan.name }}</strong> is a free GTK+
            application to turn the machines on through the
            <a href="wol.html">Wake On LAN</a> system, regardless of their
            installed operating system.</p>
          <p><img src="/resources/{{ page.layout }}/archive/latest/{{ page.language }}/main.png"></p>

          <p>From the main window you just need to click the add button to
            insert a new machine in the machines database to turn on then when
            needed.</p>
          <p><img src="/resources/{{ page.layout }}/archive/latest/{{ page.language }}/detail.png"></p>
          <p>After that you can mark with a check the hosts you wish to turn on
            and then click the <strong>Turn on</strong> button to ask the
            machine to awake from the network.</p>

{% include installation.md type='index' %}
{% include translations.html %}
{% include license.md type='index' %}
