---
title: Introduzione
---
          <h1><a name="description" class="anchor"></a>Descrizione</h1>
          <p><strong>{{ site.data.remmina-plugin-folder.name }}</strong> &egrave;
            un plugin di protocollo libero per aprire una cartella utilizzando
            un gestore di files esterno dalla finestra di Remmina.</p>
          <p>E' utile per accedere ad una cartella di documenti o di impostazioni
            senza lasciare la finestra di Remmina.</p>
          <p><img src="/resources/{{ page.layout }}/archive/latest/{{ page.language }}/general.png"></p>

{% include installation.html type='index' %}

          <h1><a name="settings" class="anchor"></a>Impostazioni</h1>
          <p>Le impostazioni del plugin {{ site.data.remmina-plugin-folder.name }}
            sono documentate nella <a href="settings.html">pagina Impostazioni</a>.</p>

{% include license.html type='index' %}
