---
layout: remmina-plugin-folder
title: Impostazioni
language: italian
---
          <h1><a name="general" class="anchor"></a>Scheda Generale</h1>
          <p><img src="../../resources/{{ page.layout }}/archive/latest/{{ page.language }}/general.png"></p>
          <ul>
{% include remmina-setting.html name="Programma di avvio"                       codename="server"             description="La cartella da aprire, comprensivo del percorso." %}
{% include remmina-setting.html name="Launcher"                                 codename="launcher"           description="L'applicazione da utilizzare per aprire la cartella.<ul><li><strong>Automatically detected</strong> utilizzer&agrave; xdg-open</li><li><strong>Open for GNOME</strong> utilizzer&agrave; gnome-open</li><li><strong>Nautilus</strong> utilizzer&agrave; il gestore di files nautilus</li><li><strong>PCManFM</strong> utilizzer&agrave; il gestore di file pcmanfm</li><li><strong>Dolphin Browser</strong> utilizzer&agrave; il gestore di file dolphin</li></ul>" %}
          </ul>