    <!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
    <script type="text/javascript">
        window.cookieconsent_options = {'message': '{{ site.data.translations[page.language].privacy.message }}',
                                        'dismiss': '{{ site.data.translations[page.language].privacy.dismiss }}',
                                        'learnMore': '{{ site.data.translations[page.language].privacy.learn_more }}',
                                        'link': 'https://www.iubenda.com/privacy-policy/{{ site.data.translations[page.language].privacy.iubenda }}',
                                        'theme': 'dark-top'
                                       };
    </script>
    <script type="text/javascript" src="/theme/js/cookieconsent.js"></script>
    <!-- End Cookie Consent plugin -->
