          <!-- Begin of License section -->
{% case include.type %}
  {% when 'index' %}
    {% case site.data[page.product].license %}
      {% when 'gpl2' %}
          <h1>{{ site.data.translations[page.language].license_gpl2.title }}</h1>
          <p>{{ site.data.translations[page.language].license_gpl2.text1 | replace: '$(NAME)', site.data[page.product].name | replace: '$(GITHUB)', site.data[page.product].gitrepo }}
            {{ site.data.translations[page.language].license_gpl2.text2 }}</p>
      {% when 'gpl3' %}
          <h1>{{ site.data.translations[page.language].license_gpl3.title }}</h1>
          <p>{{ site.data.translations[page.language].license_gpl3.text1 | replace: '$(NAME)', site.data[page.product].name | replace: '$(GITHUB)', site.data[page.product].gitrepo }}
            {{ site.data.translations[page.language].license_gpl3.text2 }}</p>
    {% endcase %}
  {% when 'download' %}
          <h1>{{ site.data.translations[page.language].downloads.title }}</h1>
    {% case site.data[page.product].license %}
      {% when 'gpl2' %}
          <p>{{ site.data.translations[page.language].license_gpl2.text1 | replace: '$(NAME)', site.data[page.product].name | replace: '$(GITHUB)', site.data[page.product].gitrepo }}</p>
      {% when 'gpl3' %}
          <p>{{ site.data.translations[page.language].license_gpl3.text1 | replace: '$(NAME)', site.data[page.product].name | replace: '$(GITHUB)', site.data[page.product].gitrepo }}</p>
    {% endcase %}
{% endcase %}
          <!-- End of License section -->
