{% if page.language == 'italian' %}
  {% if include.short == false %}
          <h1><a name="license" class="anchor" href="#license"></a>Licenza</h1>
  {% endif %}
          <p>{{ include.module.name }} viene distribuito sotto forma di codice
            sorgente aperto 
            <a href="{{ include.module.gitrepo }}">disponibile su Github</a>
            sotto <a href="https://www.gnu.org/licenses/gpl-2.0.html">licenza GNU GPL-2+</a>
            (GNU General Public License versione 2 o superiore).
  {% if include.short == false %}
            Il software viene fornito cos&igrave; com'&egrave; e non &egrave;
            offerto alcun tipo di garanzia.
            Chiunque pu&ograve; derivare il progetto, modificarlo e distribuirlo
            purch&egrave; il nuovo progetto derivato sia rilasciato sotto la
            stessa licenza GNU GPL-2+.
  {% endif %}
            </p>
{% else %}
  {% if include.short == false %}
          <h1><a name="license" class="anchor" href="#license"></a>License</h1>
  {% endif %}
          <p>{{ include.module.name }} is distributed as open source code
            <a href="{{ include.module.gitrepo }}">available on GitHub</a> under
            <a href="https://www.gnu.org/licenses/gpl-2.0.html">GNU GPL-2+ license</a>
            (GNU General Public License version 2 or higher).
  {% if include.short == false %}
            The software is supplied as is and it doesn't offer any warranty.
            Anyone can fork the project, modify and distribute it under the same
            GNU GPL-2+ license.
  {% endif %}
            </p>
{% endif %}