{% if page.language == 'italian' %}
          <h1><a name="packages" class="anchor"></a>Pacchetti da scaricare</h1>
          <p>Quelli qui riportati sono pacchetti per differenti distribuzioni.
            Scegliere quello pi&ugrave; idoneo alla distribuzione che si
            utilizza e fare riferimento alla pagina 
            <a href="install.html">Installazione</a> per informazioni sulla
            loro installazione.</p>
          <ul>
  {% for package in include.module.packages %}
    {% case package.type %}
      {% when 'source'      %}{% capture package_format %}<strong>tar.gz</strong> con codice sorgente per installazione manuale{% endcapture %}
      {% when 'archlinux'   %}{% capture package_format %}<strong>pkg.tar.xz</strong> per Arch Linux e derivate{% endcapture %}
      {% when 'archlinux32' %}{% capture package_format %}<strong>pkg.tar.xz</strong> per Arch Linux i686 (32 bit) e derivate{% endcapture %}
      {% when 'archlinux64' %}{% capture package_format %}<strong>pkg.tar.xz</strong> per Arch Linux x86_64 (64 bit) e derivate{% endcapture %}
      {% when 'debian'      %}{% capture package_format %}<strong>deb</strong> per Debian, Ubuntu e derivate{% endcapture %}
      {% when 'debian32'    %}{% capture package_format %}<strong>deb</strong> per Debian i386 (32 bit), Ubuntu e derivate{% endcapture %}
      {% when 'debian64'    %}{% capture package_format %}<strong>deb</strong> per Debian amd64 (64 bit), Ubuntu e derivate{% endcapture %}
    {% endcase %}
            <li><strong>Versione {{ package.version }}</strong> in formato {{ package_format }}<br />
              MD5: {{ package.md5sum }}
    {% if package.sources %}
              <ul>
      {% for source in package.sources %}
        {% case source %}
          {% when 'muflone.com' %}{% capture source_url %}/resources/{{ page.layout }}/archive/{{ package.version}}/{{ package.filename }}{% endcapture %}
          {% when 'github.com'  %}{% capture source_url %}{{ include.module.gitrepo }}/releases/download/{{ package.version }}/{{ package.filename }}{% endcapture %}
        {% endcase %}
                <li>Scarica da <a href="{{ source_url }}">{{ source }}</a></li>
      {% endfor %}
              </ul>
    {% endif %}
            </li>
  {% endfor %}
          </ul>
{% else %}
          <h1><a name="packages" class="anchor"></a>Downloadable packages</h1>
          <p>The following are packages for different distributions.
            Choose that more suitable for the distribution in use and refer to
            the page <a href="install.html">Installation</a> for information
            about their installation.</p>
          <ul>
  {% for package in include.module.packages %}
    {% case package.type %}
      {% when 'source'      %}{% capture package_format %}<strong>tar.gz</strong> format with source code for manual installation{% endcapture %}
      {% when 'archlinux'   %}{% capture package_format %}<strong>pkg.tar.xz</strong> format for Arch Linux and derivatives{% endcapture %}
      {% when 'archlinux32' %}{% capture package_format %}<strong>pkg.tar.xz</strong> format for Arch Linux i686 (32 bits) and derivatives{% endcapture %}
      {% when 'archlinux64' %}{% capture package_format %}<strong>pkg.tar.xz</strong> format for Arch Linux x86_64 (64 bits) and derivatives{% endcapture %}
      {% when 'debian'      %}{% capture package_format %}<strong>deb</strong> format for Debian, Ubuntu and derivatives{% endcapture %}
      {% when 'debian32'    %}{% capture package_format %}<strong>deb</strong> format for Debian i386 (32 bits), Ubuntu and derivatives{% endcapture %}
      {% when 'debian64'    %}{% capture package_format %}<strong>deb</strong> format for Debian amd64 (64 bits), Ubuntu and derivatives{% endcapture %}
    {% endcase %}
            <li><strong>Versione {{ package.version }}</strong> in {{ package_format }}<br />
              MD5: {{ package.md5sum }}
    {% if package.sources %}
              <ul>
      {% for source in package.sources %}
        {% case source %}
          {% when 'muflone.com' %}{% capture source_url %}/resources/{{ page.layout }}/archive/{{ package.version}}/{{ package.filename }}{% endcapture %}
          {% when 'github.com'  %}{% capture source_url %}{{ include.module.gitrepo }}/releases/download/{{ package.version }}/{{ package.filename }}{% endcapture %}
        {% endcase %}
                <li>Download from <a href="{{ source_url }}">{{ source }}</a></li>
      {% endfor %}
              </ul>
    {% endif %}
  {% endfor %}
          </ul>
{% endif %}
