{% include set-language.inc %}
{% case include.type %}
  {% when 'footer' %}
          <div id="icons">
            <a href="/{{ language }}.html">
              <img src="/resources/index/32-home.png" title="Home">
            </a>
  {% when 'sidebar' %}
          <div><strong>Other products:</strong></div>
  {% when 'main' %}
          <div class="full-width product">
            <div class="products-table">
{% endcase %}

{% for section in site.data.common.sections %}
  {% case section.module %}
    {% when 'muflone'                   %}{% assign module=site.data.contacts %}
    {% when 'articles'                  %}{% assign module=site.data.articles %}
    {% when 'gespeaker'                 %}{% assign module=site.data.gespeaker %}
    {% when 'gwakeonlan'                %}{% assign module=site.data.gwakeonlan %}
    {% when 'gextractwinicons'          %}{% assign module=site.data.gextractwinicons %}
    {% when 'bluewho'                   %}{% assign module=site.data.bluewho %}
    {% when 'cpucompare'                %}{% assign module=site.data.cpucompare %}
    {% when 'gptrace'                   %}{% assign module=site.data.gptrace %}
    {% when 'gnome-appfolders-manager'  %}{% assign module=site.data.gnome-appfolders-manager %}
    {% when 'gtransmemory'              %}{% assign module=site.data.gtransmemory %}
    {% when 'remmina-plugin-builder'    %}{% assign module=site.data.remmina-plugin-builder %}
    {% when 'remmina-plugin-exec'       %}{% assign module=site.data.remmina-plugin-exec %}
    {% when 'remmina-plugin-folder'     %}{% assign module=site.data.remmina-plugin-folder %}
    {% when 'remmina-plugin-open'       %}{% assign module=site.data.remmina-plugin-open %}
    {% when 'remmina-plugin-rdesktop'   %}{% assign module=site.data.remmina-plugin-rdesktop %}
    {% when 'remmina-plugin-teamviewer' %}{% assign module=site.data.remmina-plugin-teamviewer %}
    {% when 'remmina-plugin-ultravnc'   %}{% assign module=site.data.remmina-plugin-ultravnc %}
    {% when 'remmina-plugin-url'        %}{% assign module=site.data.remmina-plugin-url %}
    {% when 'remmina-plugin-webkit'     %}{% assign module=site.data.remmina-plugin-webkit %}
  {% endcase %}

  {% case include.type %}
    {% when 'footer' %}
            <a href="/{{ module.lowername }}/{{ language }}/">
              <img src="/resources/{{ module.lowername }}/icons/favicon-32x32.png" title="{{ module.name }}
{% if language == 'italian' %}{{ module.description.italian }}{% else %}{{ module.description.english }}{% endif %}">
            </a>
    {% when 'sidebar' %}
            <div><a href="/{{ module.lowername }}/{{ language }}/">
              <img src="/resources/{{ module.lowername }}/icons/favicon-32x32.png" title="{{ module.name }}
{% if language == 'italian' %}{{ module.description.italian }}{% else %}{{ module.description.english }}{% endif %}">
              {{ module.name }}</a></div>
    {% when 'main' %}
              <div class="product product-column"><div><a href="{{ module.lowername }}/{{ language }}/">
                <img src="/resources/{{ module.lowername }}/icons/android-icon-144x144.png">
                <div class="product-name">{{ module.name }}</div></a>
                <div>{% if language == 'italian' %}{{ module.description.italian }}{% else %}{{ module.description.english }}{% endif %}</div>
              </div></div>
  {% endcase %}
{% endfor %}

{% case include.type %}
  {% when 'footer' %}
          </div>
  {% when 'sidebar' %}
  {% when 'main' %}
            </div>
          </div>
{% endcase %}
