          <div class="full-width product">
            <div class="products-table">
{% for section in site.data.common.sections %}
  {% case section.module %}
    {% when 'muflone'                   %}{% assign module=site.data.contacts %}
    {% when 'gespeaker'                 %}{% assign module=site.data.gespeaker %}
    {% when 'gwakeonlan'                %}{% assign module=site.data.gwakeonlan %}
    {% when 'gextractwinicons'          %}{% assign module=site.data.gextractwinicons %}
    {% when 'bluewho'                   %}{% assign module=site.data.bluewho %}
    {% when 'cpucompare'                %}{% assign module=site.data.cpucompare %}
    {% when 'remmina-plugin-builder'    %}{% assign module=site.data.remmina-plugin-builder %}
    {% when 'remmina-plugin-exec'       %}{% assign module=site.data.remmina-plugin-exec %}
    {% when 'remmina-plugin-folder'     %}{% assign module=site.data.remmina-plugin-folder %}
    {% when 'remmina-plugin-open'       %}{% assign module=site.data.remmina-plugin-open %}
    {% when 'remmina-plugin-rdesktop'   %}{% assign module=site.data.remmina-plugin-rdesktop %}
    {% when 'remmina-plugin-teamviewer' %}{% assign module=site.data.remmina-plugin-teamviewer %}
    {% when 'remmina-plugin-ultravnc'   %}{% assign module=site.data.remmina-plugin-ultravnc %}
    {% when 'remmina-plugin-url'        %}{% assign module=site.data.remmina-plugin-url %}
    {% when 'remmina-plugin-webkit'     %}{% assign module=site.data.remmina-plugin-webkit %}
  {% endcase %}
              <div class="product product-column"><div><a href="{{ module.lowername }}/{{ page.language }}/">
                <img src="../resources/{{ module.lowername }}/archive/latest/icon128.png">
                <div class="product-name">{{ module.name }}</div></a>
                <div>{% if page.language == 'italian' %}{{ module.description.italian }}{% else %}{{ module.description.english }}{% endif %}</div>
              </div></div>
{% endfor %}
            </div>
          </div>
