---
title: Introduction
---
          <h1><a name="description" class="anchor"></a>Description</h1>
          <p><strong>{{ site.data.remmina-plugin-exec.name }}</strong> is a free
            software protocol plugin to execute external processes (commands or
            applications) from the Remmina window.</p>
          <p>Some examples of external applications could be third party remote
            access applications not supported by any Remmina protocol, network
            calculators, network diagram draw applications and many others.</p>
          <p><img src="/resources/{{ page.layout }}/archive/latest/{{ page.language }}/general.png"></p>

{% include installation.html type='index' %}

          <h1><a name="settings" class="anchor"></a>Settings</h1>
          <p>The {{ site.data.remmina-plugin-exec.name }} plugin settings are
            documented in the <a href="settings.html">Settings page</a>.</p>

{% include license.html type='index' %}
