---
title: Settings
---
          <h1><a name="general" class="anchor"></a>Basic tab</h1>
          <p><img src="../../resources/{{ page.layout }}/archive/latest/{{ page.language }}/general.png"></p>
          <ul>
{% include remmina-setting.html name="Startup program"                          codename="server"             description="The external process to launch, including its path and all its arguments." %}
{% include remmina-setting.html name="Synchronous open"                         codename="synchronous"        description="If selected, the process launch will be synchrounous and Remmina will await until the process will be closed." %}
          </ul>