---
title: Introduzione
---
          <h1><a name="description" class="anchor"></a>Descrizione</h1>
          <p><strong>{{ site.data.remmina-plugin-rdesktop.name }}</strong> &egrave;
            un plugin di protocollo libero per stabilire una connessione RDP
            usando <a href="http://www.rdesktop.org/">RDesktop</a> che spesso
            opera meglio del plugin FreeRDP integrato in Remmina e fornisce
            anche numerose funzionalit&agrave; come la sincronizzazione degli
            appunti, il supporto alle cartelle remote, l'audio remoto, il
            supporto all'RDP trasparente (seamless) and numerose impostazioni
            sulle prestazioni.</p>
          <p><img src="/resources/{{ page.layout }}/archive/latest/{{ page.language }}/general.png"></p>
          
          <p>E' richiesta l'installazione di RDesktop affinch&egrave; questo
            plugin funzioni.</p>

{% include installation.md type='index' %}

          <h1><a name="settings" class="anchor"></a>Impostazioni</h1>
          <p>Le impostazioni del plugin {{ site.data.remmina-plugin-rdesktop.name }}
            sono documentate nella <a href="settings.html">pagina Impostazioni</a>.</p>

{% include license.html type='index' %}
