---
title: Introduzione
---
          <h1><a name="description" class="anchor"></a>Descrizione</h1>
          <p><strong>{{ site.data.remmina-plugin-ultravnc.name }}</strong> &egrave;
            un plugin di protocollo libero per stabilire connessioni usando
            <a href="http://www.uvnc.com/">UltraVNC</a>, un'applicazione open
            source di controllo remoto VNC con numerose funzionalit&agrave;
            sviluppata per MS Windows ed eseguibile in GNU/Linux attraverso
            Wine.</p>
          <p><img src="/resources/{{ page.layout }}/archive/latest/{{ page.language }}/general.png"></p>
          
          <p>E' richiesta l'installazione di UltraVNC affinch&egrave; questo
            plugin funzioni.</p>

{% include installation.md type='index' %}

          <h1><a name="settings" class="anchor"></a>Impostazioni</h1>
          <p>Le impostazioni del plugin {{ site.data.remmina-plugin-ultravnc.name }}
            sono documentate nella <a href="settings.html">pagina Impostazioni</a>.</p>

{% include license.md type='index' %}
