---
title: Introduction
---
          <h1><a name="description" class="anchor"></a>Description</h1>
          <p><strong>{{ site.data.remmina-plugin-teamviewer.name }}</strong> is a
            free software protocol plugin to establish connections using
            <a href="https://www.teamviewer.com/">TeamViewer</a>, a remote
            control application with many features and capable of connecting
            even through NAT, both for Windows, Linux and others operating
            systems.</p>
          <p><img src="/resources/{{ page.layout }}/archive/latest/{{ page.language }}/general.png"></p>

          <p>TeamViewer installation is required in order to let this plugin to
            work properly.</p>

{% include installation.html type='index' %}

          <h1><a name="settings" class="anchor"></a>Settings</h1>
          <p>The {{ site.data.remmina-plugin-teamviewer.name }} plugin settings are
            documented in the <a href="settings.html">Settings page</a>.</p>

{% include license.html type='index' %}
