---
layout: remmina-plugin-teamviewer
title: Settings
language: english
---
          <h1><a name="general" class="anchor"></a>Basic tab</h1>
          <p><img src="../../resources/{{ page.layout }}/archive/latest/{{ page.language }}/general.png"></p>
          <ul>
{% include remmina-setting.html name="Server"                         codename="server"             description="The server address to connect to." %}
{% include remmina-setting.html name="Password"                       codename="password"           description="The password used to establish the connection." %}
{% include remmina-setting.html name="Add dashes as first argument"   codename="adddashes"          description="Add dashes as first argument, required from older versions of TeamViewer." %}
          </ul>
