---
title: Introduzione
---
          <h1><a name="description" class="anchor"></a>Descrizione</h1>
          <p><strong>{{ site.data.gextractwinicons.name }}</strong> &egrave;
            un'applicazione libera per estrarre cursori, icone e immagini PNG
            da file di risorse per Microsoft Windows (come .exe, .dll, .ocx e
            .cpl).</p>
          <p><img src="/resources/{{ page.layout }}/archive/latest/{{ page.language }}/main.png"></p>

          <h1><a name="installation" class="anchor"></a>Installazione</h1>
          <p>I rilasci delle versioni stabili con codice sorgente e pacchetti
            precompilati sono presenti nella 
            <a href="download.html">pagina Scarica</a>.
            Per informazioni sull'installazione da pacchetti o con codice
            sorgente fare riferimento alla
            <a href="install.html">pagina Installazione</a>.</p>
          <p>Il codice sorgente di {{ site.data.gextractwinicons.name }} &egrave;
            <a href="{{ site.data.gextractwinicons.gitrepo }}">disponibile su GitHub</a>
            con la versione attualmente in sviluppo.</p>

{% include translations.html module=site.data.gextractwinicons languages_page=true %}
{% include license.html module=site.data.gextractwinicons short=false %}
