---
title: Introduzione
---
          <h1><a name="description" class="anchor"></a>Descrizione</h1>
          <p><strong>{{ site.data.gextractwinicons.name }}</strong> &egrave;
            un'applicazione libera per estrarre cursori, icone e immagini PNG
            da file di risorse per Microsoft Windows (come .exe, .dll, .ocx e
            .cpl).</p>
          <p><img src="/resources/{{ page.layout }}/archive/latest/{{ page.language }}/main.png"></p>

{% include installation.html type='index' %}
{% include translations.html %}
{% include license.html type='index' %}
