---
title: Introduzione
---
          <h1><a name="description" class="anchor"></a>Descrizione</h1>
          <p><strong>{{ site.data.gwakeonlan.name }}</strong> &egrave;
            un'applicazione libera per accendere le macchine mediante il sistema 
            <a href="wol.html">Wake On LAN</a> indipendentemente dal sistema
            operativo in esse installato.</p>
          <p><img src="/resources/{{ page.layout }}/archive/latest/{{ page.language }}/main.png"></p>

          <p>Dalla schermata principale baster&agrave; cliccare il pulsante
            aggiungi per inserire una nuova macchina nell'archivio delle
            macchine da accedere su richiesta.</p>
          <p><img src="/resources/{{ page.layout }}/archive/latest/{{ page.language }}/detail.png"></p>
          <p>Successivamente baster&agrave; spuntare le macchine che si desidera
            accendere e premere il pulsante <strong>Accendi</strong> per
            richiedere l'accensione delle macchine dalla rete.</p>

{% include installation.md type='index' %}
{% include translations.html %}
{% include license.html type='index' %}
