---
title: Introduzione
---
          <h1><a name="description" class="anchor"></a>Descrizione</h1>
          <p><strong>{{ site.data.gwakeonlan.name }}</strong> &egrave;
            un'applicazione libera per accendere le macchine mediante il sistema 
            <a href="wol.html">Wake On LAN</a> indipendentemente dal sistema
            operativo in esse installato.</p>
          <p><img src="../../resources/{{ page.layout }}/archive/latest/{{ page.language }}/main.png"></p>

          <p>Dalla schermata principale baster&agrave; cliccare il pulsante
            aggiungi per inserire una nuova macchina nell'archivio delle
            macchine da accedere su richiesta.</p>
          <p><img src="../../resources/{{ page.layout }}/archive/latest/{{ page.language }}/detail.png"></p>
          <p>Successivamente baster&agrave; spuntare le macchine che si desidera
            accendere e premere il pulsante <strong>Accendi</strong> per
            richiedere l'accensione delle macchine dalla rete.</p>

          <h1><a name="installation" class="anchor"></a>Installazione</h1>
          <p>I rilasci delle versioni stabili con codice sorgente e pacchetti
            precompilati sono presenti nella 
            <a href="download.html">pagina Scarica</a>.
            Per informazioni sull'installazione da pacchetti o con codice
            sorgente fare riferimento alla 
            <a href="install.html">pagina Installazione</a>.</p>
          <p>Il codice sorgente di {{ site.data.gwakeonlan.name }} &egrave; 
            <a href="{{ site.data.gwakeonlan.gitrepo }}">disponibile su GitHub</a>
            con la versione attualmente in sviluppo.</p>

{% include translations.html module=site.data.gwakeonlan languages_page=false %}
{% include license.html module=site.data.gwakeonlan short=false %}
