---
title: Introduction
---
          <h1><a name="description" class="anchor"></a>Description</h1>
          <p><strong>{{ site.data.remmina-plugin-webkit.name }}</strong> is a
            free software protocol plugin to open a web page using an integrated
            GTK+ WebKit web browser. It's useful when you need to access your
            resources from the Remmina window, like gaining access to routers
            administration web pages, printers and others resources in the
            network.</p>
          <p><img src="/resources/{{ page.layout }}/archive/latest/{{ page.language }}/general.png"></p>

{% include installation.md type='index' %}

          <h1><a name="settings" class="anchor"></a>Settings</h1>
          <p>The {{ site.data.remmina-plugin-webkit.name }} plugin settings are
            documented in the <a href="settings.html">Settings page</a>.</p>

{% include license.md type='index' %}
