a.button {
  width: 134px;
  height: 58px;
  line-height: 1.2;
  font-size: 23px;
  color: #fff;
  padding-left: 68px;
  padding-top: 22px;
  font-family: 'Architects Daughter', 'Helvetica Neue', 'Helvetica', 'Arial', 'serif'; 
}

a.button small {
  display: block;
  font-size: 11px;
}

header a.button {
  position: absolute;
  right: 0;
  top: 0;
  background: transparent url('../images/skin-github-button.png') 0 0 no-repeat;
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  header a.button {
    background-image: none;
    width: auto;
    height: auto;
    display: inline-block;
    margin-top: 15px;
    padding: 5px 10px;
    position: relative;
    text-align: center;
    font-size: 13px;
    line-height: 1;
    background-color: #9ddcff;
    color: #2879d0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;                     
    border-radius: 5px;    
  }

  header a.button small {
    font-size: 13px;
    display: inline;
  }
}
