---
title: Introduction
---
          <h1><a name="description" class="anchor"></a>Description</h1>
          <p><strong>{{ site.data.gptrace.name }}</strong> is a free GTK+
            application to trace the activities of an external process.
            You just need only to select an external application to launch,
            click on the <strong>Execute</strong> button and view the results.
            Every syscall (call to a operating system function) will be shown
            and every external process will be traced in the
            {{ site.data.gptrace.name }} window.</p>
          <p><img src="/resources/{{ page.layout }}/archive/latest/{{ page.language }}/main.png"></p>
          
          <p>It's also possible to select which syscalls to intercept to include
            or exclude in order to limit the results.</p>
          <p><img src="/resources/{{ page.layout }}/archive/latest/{{ page.language }}/expanded.png"></p>

          <h1><a name="installation" class="anchor"></a>Installation</h1>
          <p>The stable versions released with source code and prebuilt packages
            are linked in the <a href="download.html">Download page</a>.
            For information about installation from packages or source code
            please refer to the <a href="install.html">Installation page</a>.</p>
          <p>The {{ site.data.gptrace.name }} development version source code is
            <a href="{{ site.data.gptrace.gitrepo }}">available on Github</a>.</p>

{% include translations.html module=site.data.gptrace languages_page=true %}
{% include license.html module=site.data.gptrace short=false %}
