---
title: Introduction
---
          <h1><a name="description" class="anchor"></a>Description</h1>
          <p><strong>{{ site.data.gptrace.name }}</strong> is a free GTK+
            application to trace the activities of an external process.
            You just need only to select an external application to launch,
            click on the <strong>Execute</strong> button and view the results.
            Every syscall (call to a operating system function) will be shown
            and every external process will be traced in the
            {{ site.data.gptrace.name }} window.</p>
          <p><img src="/resources/{{ page.layout }}/archive/latest/{{ page.language }}/main.png"></p>
          
          <p>It's also possible to select which syscalls to intercept to include
            or exclude in order to limit the results.</p>
          <p><img src="/resources/{{ page.layout }}/archive/latest/{{ page.language }}/expanded.png"></p>

{% include installation.html type='index' %}
{% include translations.html %}
{% include license.html type='index' %}
