---
title: Introduzione
---
          <h1><a name="description" class="anchor"></a>Description</h1>
          <p><strong>{{ site.data.gnome-appfolders-manager.name }}</strong> &egrave;
            un'applicazione libera basata sulle GTK+ per creare e modificare
            le cartelle delle applicazioni (<i>AppFolders</i>) su GNOME Shell.</p>
          <p><img src="/resources/{{ page.layout }}/archive/latest/{{ page.language }}/main.png"></p>
          
          <p>Tramite la sezione di sinistra sarà possibile creare una nuova
            cartella di applicazioni oppure rimuoverne una esistente.</p>
          <p><img src="/resources/{{ page.layout }}/archive/latest/{{ page.language }}/create-folder.png"></p>
          
          <p>Nella sezione di destra saranno elencate le applicazioni che
            saranno visibili all'interno della cartella scelta e sarà possibile
            aggiungerne di nuove oppure eliminare quelle già definite.</p>
          <p><img src="/resources/{{ page.layout }}/archive/latest/{{ page.language }}/add-applications.png"></p>

          <p>Al termine della modifica di una cartella basterà cliccare il
            pulsante <b>Salva</b> in alto a destra per applicare le modifiche
            alla cartella di applicazioni.</p>
          <p><img src="/resources/{{ page.layout }}/archive/latest/{{ page.language }}/main-with-new-appfolder.png"></p>

          <p>Spostandosi nella schermata con tutte le applicazioni di GNOME
            Shell per trovare le cartelle definite.</p>
          <p><img src="/resources/{{ page.layout }}/archive/latest/{{ page.language }}/gnome-shell-appfolder.png"></p>

{% include installation.html type='index' %}
{% include translations.html %}
{% include license.html type='index' %}
