---
title: Introduzione
---
          <h1><a name="description" class="anchor"></a>Description</h1>
          <p><strong>{{ site.data.gptrace.name }}</strong> &egrave;
            un'applicazione libera basata sulle GTK+ per tracciare le
            attivit&agrave; di un processo esterno.
            Baster&agrave; scegliere il programma esterno da eseguire, premere
            il pulsante <strong>Esegui</strong> ed osservare i risultati
            dell'operazione. Ogni syscall (chiamata a funzione del sistema
            operativo) sar&agrave; mostrata ed ogni processo esterno avviato
            sar&agrave; tracciato nella finestra di {{ site.data.gptrace.name }}.</p>
          <p><img src="/resources/{{ page.layout }}/archive/latest/{{ page.language }}/main.png"></p>
          
          <p>E' possibile decidere quali syscall intercettare per includere o
            escludere per limitare i risultati.</p>
          <p><img src="/resources/{{ page.layout }}/archive/latest/{{ page.language }}/expanded.png"></p>

{% include installation.md type='index' %}
{% include translations.html %}
{% include license.md type='index' %}
