---
title: Introduction
---
          <h1><a name="description" class="anchor"></a>Description</h1>
          <p><strong>{{ site.data.cpucompare.name }}</strong> is a free GTK+
            application to make comparisons between CPU models. You can browse
            the CPU models by brands and series and find those of your insterest.
            Every CPU has a score based on benchmarks so you can determine what
            processor has greater or lower performances.</p>
          <p><img src="/resources/{{ page.layout }}/archive/latest/{{ page.language }}/main.png"></p>

{% include installation.md type='index' %}
{% include license.md type='index' %}
