---
title: Introduction
---
          <h1><a name="description" class="anchor"></a>Description</h1>
          <p><strong>{{ site.data.remmina-plugin-folder.name }}</strong> is a free
            software protocol plugin to open a folder using an external file
            manager from the Remmina window.</p>
          <p>It's useful to access to your documents folder or your settings
            without leaving the Remmina window.</p>
          <p><img src="/resources/{{ page.layout }}/archive/latest/{{ page.language }}/general.png"></p>

{% include installation.md type='index' %}

          <h1><a name="settings" class="anchor"></a>Settings</h1>
          <p>The {{ site.data.remmina-plugin-folder.name }} plugin settings are
            documented in the <a href="settings.html">Settings page</a>.</p>

{% include license.md type='index' %}
