---
layout: remmina-plugin-folder
title: Settings
language: english
---
          <h1><a name="general" class="anchor"></a>Basic tab</h1>
          <p><img src="../../resources/{{ page.layout }}/archive/latest/{{ page.language }}/general.png"></p>
          <ul>
{% include remmina-setting.html name="Startup program"                          codename="server"             description="The folder to open, including its path." %}
{% include remmina-setting.html name="Launcher"                                 codename="launcher"           description="The application used to open the folder.<ul><li><strong>Automatically detected</strong> will use the xdg-open launcher</li><li><strong>Open for GNOME</strong> will use the gnome-open launcher</li><li><strong>Nautilus</strong> will use the nautilus file manager</li><li><strong>PCManFM</strong> will use the pcmanfm file manager</li><li><strong>Dolphin Browser</strong> will use the dolphin file manager</li></ul>" %}
          </ul>