---
title: Introduction
---
          <h1><a name="description" class="anchor"></a>Description</h1>
          <p><strong>{{ site.data.bluewho.name }}</strong> is a free application
            that will scan for Bluetooth devices near you will notify you when a
            new device is discovered.</p>
          <p><img src="/resources/{{ page.layout }}/archive/latest/{{ page.language }}/main.png"></p>
          <p>When a new device is detected then a notification can be showed,
            accordingly to the preferences dialog.</p>
          <p><img src="/resources/{{ page.layout }}/archive/latest/{{ page.language }}/notification.png"></p>
          <p>Various preferences can ben set for scan and notifications.</p>
          <p><img src="/resources/{{ page.layout }}/archive/latest/{{ page.language }}/preferences.png"></p>
          <p>For each detected device a list of the available services on the
            device can be obtained.</p>
          <p><img src="/resources/{{ page.layout }}/archive/latest/{{ page.language }}/services.png"></p>

          <h1><a name="installation" class="anchor"></a>Installation</h1>
          <p>The stable versions released with source code and prebuilt packages
            are linked in the <a href="download.html">Download page</a>.
            For information about installation from packages or source code
            please refer to the <a href="install.html">Installation page</a>.</p>
          <p>The {{ site.data.bluewho.name }} development version source code is
            <a href="{{ site.data.bluewho.gitrepo }}">available on GitHub</a>.</p>

{% include translations.html module=site.data.bluewho languages_page=true %}
{% include license.md type='index' %}
