<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/resources/contacts/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/resources/contacts/favicon.ico" type="image/x-icon">
    <link rel="author" href="https://plus.google.com/+FabioCastelli"/>
    <link rel="stylesheet" type="text/css" href="/theme/architects-fonts.css" >
    <link rel="stylesheet" type="text/css" href="/theme/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/theme/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/theme/print.css" media="print" />
    <link rel="stylesheet" type="text/css" href="/theme/stylesheet2.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/theme/articles.css" media="screen" />

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>{{ page.title }}</title>
  </head>

  <body>
    <header>
      <div class="inner">
        <a href="/articles/{{ page.language }}"><img src="/resources/{{ page.layout }}/archive/latest/icon128.png" style="width: 128px; height: 128px; padding-right: 20px;" align="left"></a>
        <h1>{{ site.data.common.name }}</h1>
        <h2>{{ page.title }}</h2>
      </div>
    </header>
    <div id="content-wrapper">
      <div class="clearfix">
        <section id="main-content" class="article">
{% if page.summary %}
          <div class="title">{{ page.summary }}</div>
          <hr />
{% endif %}
{{ content }}
{% if page.id %}
  {% include google-plus.inc %}
  {% include twitter.inc %}
  {% include disqus.inc %}
{% endif %}
        </section>
      </div>
    </div>
{% include footer.html %}
  </body>
</html>
