---
layout: base
---
        <section id="main-content">
{% unless page.content_after %}
          <!-- Begin of page content section -->
          {{ content }}
          <!-- End of page content section -->
{% endunless %}

{%- assign posts = site.articles | where: 'language', page.language | where_exp: 'item', 'item.order > 0' | sort: 'order' -%}

{%- comment -%}Determine the section from current page{%- endcomment -%}
{%- assign base_section = '/articles/' | append: page.language | append: '/' %}
{%- assign section = page.url | replace: base_section, '' | replace: '/index.html', '' -%}
{%- if section == 'index.html' %}
  {%- assign section = '' -%}
{%- endif -%}

{%- comment -%}Check if there are posts{%- endcomment -%}
{%- if posts -%}
  {%- if section == '' %}
    {%- comment -%}No section, list all posts{%- endcomment -%}
    {%- assign has_children = false -%}
    {%- for post in posts -%}
      {% if post.url contains '/index' %}
        {%- comment -%}Index page found{%- endcomment -%}
        {%- if has_children -%}
          {% assign has_children = false %}
          </ul>
        {% endif %}
          <h2><img src="{{ site.data.translations[post.language].icons.flag_mini }}">
            <a href="{{ post.url }}">{{ post.title}}</a></h2>
      {%- else -%}
        {% unless has_children %}
          <ul id="articles">
        {%- endunless -%}
        {%- comment -%}Content page found{%- endcomment -%}
        {% assign has_children = true %}
            <li><img src="{{ site.data.translations[post.language].icons.flag_mini }}">
              <a href="{{ post.url }}">{{ post.title}}</a> ({{ post.date | date_to_string}})
            </li>
      {%- endif -%}
    {%- endfor -%}
    {% if has_children %}
          </ul>
    {% endif %}
  {%- else -%}
    {% comment %}Show only posts for the page section{% endcomment %}
    {%- for post in posts -%}
      {%- unless post.url == page.url -%}
        {%- comment -%}Check if the post url is of the same section{%- endcomment -%}
        {%- assign post_section = post.url | replace: base_section, '' | replace: '/index', '' | split: '/' -%}
        {% if post_section[0] == section %}
          <h2><img src="{{ site.data.translations[post.language].icons.flag_mini }}">
            <a href="{{ post.url }}">{{ post.title}}</a></h2>
        {%- endif -%}
      {%- endunless -%}
    {% endfor %}
  {%- endif -%}
{%- endif -%}

{% if page.content_after %}
          <!-- Begin of page content section -->
          {{ content }}
          <!-- End of page content section -->
{% endif %}
        </section>