{%- assign product = site.data[page.product] -%}
<!DOCTYPE html>
<html lang="{{ page.language }}">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="author" href="https://plus.google.com/+FabioCastelli"/>
    <title>{{ product.name }} | {{ page.title }}</title>
    <link rel="apple-touch-icon"      sizes="57x57"   href="/resources/{{ product.lowername }}/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon"      sizes="60x60"   href="/resources/{{ product.lowername }}/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon"      sizes="72x72"   href="/resources/{{ product.lowername }}/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon"      sizes="76x76"   href="/resources/{{ product.lowername }}/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon"      sizes="114x114" href="/resources/{{ product.lowername }}/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon"      sizes="120x120" href="/resources/{{ product.lowername }}/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon"      sizes="144x144" href="/resources/{{ product.lowername }}/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon"      sizes="152x152" href="/resources/{{ product.lowername }}/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon"      sizes="180x180" href="/resources/{{ product.lowername }}/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/resources/{{ product.lowername }}/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32"   href="/resources/{{ product.lowername }}/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96"   href="/resources/{{ product.lowername }}/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16"   href="/resources/{{ product.lowername }}/icons/favicon-16x16.png">
    <link rel="icon" type="image/x-icon"              href="/resources/{{ product.lowername }}/icons/favicon.ico">
    <link rel="shortcut icon" type="image/x-icon"     href="/resources/{{ product.lowername }}/icons/favicon.ico">
    <link type="text/css" rel="stylesheet" href="/theme/css/reset.css">
    <link type="text/css" rel="stylesheet" href="/theme/css/font-architects.css">
    <link type="text/css" rel="stylesheet" href="/theme/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="/theme/css/stylesheet.css">
    <link type="text/css" rel="stylesheet" href="/theme/css/sidebar.css">
    <link type="text/css" rel="stylesheet" href="/theme/css/blockquotes.css">
    <link type="text/css" rel="stylesheet" href="/theme/css/blockquotes-{{ page.language }}.css">
    <link type="text/css" rel="stylesheet" href="/theme/css/external-links.css">
{%- if page.layout == 'article' -%}
    <link type="text/css" rel="stylesheet" href="/theme/css/offline-copy.css">
{% endif %}
{%- if page.layout == 'sections' -%}
    <link type="text/css" rel="stylesheet" href="/theme/css/sections.css">
{% endif %}
{%- if page.layout == 'flags' -%}
    <link type="text/css" rel="stylesheet" href="/theme/css/flags.css">
{% endif %}
{%- if page.layout == 'mbrola_voices' -%}
    <link type="text/css" rel="stylesheet" href="/theme/css/mbrola_voices.css">
{% endif %}
{%- if page.layout == 'contacts' -%}
    <link type="text/css" rel="stylesheet" href="/theme/css/contacts.css">
{% endif %}
{%- if page.layout == 'downloads' -%}
    <link type="text/css" rel="stylesheet" href="/theme/css/downloads.css">
{% endif %}
{%- if page.require_jquery or layout.require_jquery -%}
    <script type="text/javascript" src="/theme/js/jquery-1.10.2.min.js"></script>
{% endif %}
{%- if page.require_jquery_jplayer or layout.require_jquery_jplayer -%}
    <script type="text/javascript" src="/theme/js/jquery.jplayer.min.js"></script> 
    <script type="text/javascript" src="/theme/js/create_new_jplayer.js"></script> 
{% endif %}
{%- if page.require_jquery_iontabs or layout.require_jquery_iontabs -%}
    <script type="text/javascript" src="/theme/js/ion.tabs.min.js"></script>
    <link type="text/css" rel="stylesheet" href="/theme/css/ion.tabs.css">
    <link type="text/css" rel="stylesheet" href="/theme/css/ion.tabs.skinBorderedCustom.css">
{% endif %}
  </head>
  <body>
    <header>
      <div class="inner">
        <a href="{% unless page.layout == 'sections' %}/{{ product.lowername }}{% endunless %}/{{ page.language }}">
          <img src="/resources/{{ product.lowername }}/icons/ms-icon-144x144.png" style="padding-right: 20px;" align="left"></a>
        <h1>{{ product.name }}</h1>
        <h2>{{ page.title }}</h2>
        <a href="{{ product.gitrepo }}" target="_blank" class="button">
          <small>{{ site.data.translations[page.language].github.view_project }}</small>
          {{ site.data.translations[page.language].github.name }}
        </a>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
{{ content }}
      </div>
    </div>

    <!-- Begin of footer block -->
    <div class="footer">
      <div id="icons">
        <a href="/" title="Home">
          <img src="/resources/home/icons/{{ site.icon_footer }}">
        </a>
{% for section in site.sections %}
        <a href="/{{ section }}" title="{{ site.data[section].name }}">
          <img src="/resources/{{ section }}/icons/{{ site.icon_footer }}">
        </a>
{% endfor %}
      </div>
      <div>{{ site.data.translations[page.language].copyright }}
        <a href="https://plus.google.com/+FabioCastelli?rel=author">Fabio Castelli</a> |
        <a href="/" title="Home">Home</a> | 
        <a href="/english" title="{{ site.data.translations[page.language].languages.english }}">
          <img src="/theme/images/flag-en-16.png">
          {{ site.data.translations[page.language].languages.english }}
        </a> |
        <a href="/italian" title="{{ site.data.translations[page.language].languages.italian }}">
          <img src="/theme/images/flag-it-16.png">
          {{ site.data.translations[page.language].languages.italian }}
        </a> |
        <a href="/contacts" title="{{ site.data.translations[page.language].sections.contacts }}">
          {{ site.data.translations[page.language].sections.contacts }}
        </a> |
        <a href="//www.iubenda.com/privacy-policy/{{ site.data.translations[page.language].privacy.iubenda }}"
          target="_blank" class="iubenda-white iubenda-embed" title="Privacy Policy">Privacy Policy</a>
      </div>
    </div>
    <!-- End of footer block -->
{% include cookie-consent.html %}
{% include google-analytics.html %}
  </body>
</html>