---
layout: base
---
        <section id="main-content">
          <p class="center"><img src="/theme/images/muflone-full.png" alt="Muflone"></p>

{% unless page.content_after %}
          <!-- Begin of page content section -->
            {{ content }}
          <!-- End of page content section -->
{% endunless %}

          <hr />
          <p>{{ site.data.translations[page.language].contacts.title1 }}</p>

          <hr />
          <ul>
            <li><a href="mailto:{{ site.author_email }}"><img src="/theme/images/link-email.png">
              <strong>E-mail</strong> {{ site.author_email }}</a></li>
            <li><a href="skype:fibiafbi"><img src="/theme/images/link-skype.png">
              <strong>Skype</strong> fibiafbi</a></li>
            <li><a href="http://url.muflone.com/twitter"><img src="/theme/images/link-twitter.png">
              <strong>Twitter</strong> https://www.twitter.com/il_muflone</a></li>
            <li><a href="http://url.muflone.com/googleplus"><img src="/theme/images/link-google-plus.png">
              <strong>Google+</strong> https://plus.google.com/+FabioCastelli</a></li>
            <li><a href="http://url.muflone.com/youtube"><img src="/theme/images/link-youtube.png">
              <strong>YouTube+</strong> https://www.youtube.com/user/fibiafbi</a></li>
            <li><a href="http://url.muflone.com/ubuntuitforum"><img src="/theme/images/link-ubuntu-it.png">
              <strong>Forum Ubuntu-it+</strong> http://forum.ubuntu-it.org/…73229</a></li>
          </ul>

          <hr />
          <p>{{ site.data.translations[page.language].contacts.title2 }}</p>

          <hr />
          <ul>
            <li><a href="http://url.muflone.com/github"><img src="/theme/images/link-github.png">
              <strong>GitHub</strong> https://github.com/muflone/</a></li>
            <li><a href="http://url.muflone.com/aur"><img src="/theme/images/link-archlinux.png">
              <strong>Arch Linux AUR packages</strong> https://aur.archlinux.org/packages/?SeB=m&amp;K=muflone</a></li>
            <li><a href="http://url.muflone.com/archwiki"><img src="/theme/images/link-archlinux.png">
              <strong>Arch Linux Wiki</strong> https://wiki.archlinux.org/index.php/User:Muflone</a></li>
            <li><a href="http://url.muflone.com/ohloh"><img src="/theme/images/link-ohloh.png">
              <strong>Ohloh</strong> fibiafbi</a></li>
            <li><a href="http://url.muflone.com/debian"><img src="/theme/images/link-debian.png">
              <strong>Debian packages</strong> https://qa.debian.org/developer.php</a></li>
            <li><a href="http://url.muflone.com/papt"><img src="/theme/images/link-debian.png">
              <strong>Python Application Packaging Team</strong> https://alioth.debian.org/projects/python-apps/</a></li>
            <li><a href="http://url.muflone.com/launchpad"><img src="/theme/images/link-launchpad.png">
              <strong>Launchpad</strong> https://launchpad.net/~il-muflone</a></li>
            <li><a href="http://url.muflone.com/sourceforge"><img src="/theme/images/link-sourceforge.png">
              <strong>Sourceforge</strong> http://sourceforge.net/users/muflone/</a></li>
          </ul>

          <hr />
          <p>{{ site.data.translations[page.language].contacts.title3 }}</p>

          <hr />
          <ul>
            <li><a href="http://url.muflone.com/blog"><img src="/theme/images/link-wordpress.png">
              <strong>Un caprone che fa bau</strong> https://muflone.wordpress.com/</a></li>
            <li><a href="http://url.muflone.com/ubuntutrucchi"><img src="/theme/images/link-wordpress.png">
              <strong>Ubuntu Trucchi</strong> https://ubuntrucchi.wordpress.com/</a></li>
            <li><a href="http://url.muflone.com/pygtk"><img src="/theme/images/link-wordpress.png">
              <strong>Appunti sparsi su PyGTK</strong> https://pygtk.wordpress.com/</a></li>
            <li><a href="http://url.muflone.com/gnomeshell"><img src="/theme/images/link-wordpress.png">
              <strong>The GNOME Shell</strong> https://pygtk.wordpress.com/</a></li>
          </ul>

          <hr />
{% if page.content_after %}
          <!-- Begin of page content section -->
          <div>
            {{ content }}
          </div>
          <!-- End of page content section -->
{% endif %}
        </section>
