---
layout: base
---
        <section id="main-content">
{{ content }}
        </section>
        <aside id="sidebar" class="content">
{%- comment -%}Skip the sidebar pages list when this page has order 0{%- endcomment -%}
{%- if page.order > 0 -%}
          <!-- Build sidebar depth 1 -->
          <ul class="menu1">
  {%- assign with_depth2 = false -%}
  {%- assign collection = site.collections | where: 'label', page.product | first -%}
  {%- assign docs = collection.docs | where: 'language', page.language | where_exp: 'item', 'item.order > 0'  | sort: 'order' -%}
  {%- for doc in docs -%}
      {%- if doc.depth == 1 -%}
        {%- if with_depth2 -%}
          {% assign with_depth2 = false %}
            </ul>
            <!-- End of sidebar depth 2 -->
        {% endif %}
            <li class="menu1"><a href="{{ doc.url }}">{{ doc.title }}</a></li>
      {%- else -%}
        {% unless with_depth2 %}
          {% assign with_depth2 = true %}
            <!-- Begin of sidebar depth 2 -->
            <ul class="menu2">
        {% endunless %}
              <li class="menu2"><a href="{{ doc.url }}">{{ doc.title }}</a></li>
      {%- endif -%}
      {%- assign last_depth = doc.depth -%}
  {%- endfor -%}
  {% if with_depth2 %}
            </ul>
            <!-- End of sidebar depth 2 -->
  {% endif %}
          </ul>
          <!-- End of sidebar depth 1 -->
{% endif %}
        </aside>
