---
layout: default
---
{% unless page.content_after %}
  <!-- Begin of page content section -->
  {{ content }}
  <!-- End of page content section -->
{% endunless %}

{% include license.html type='download' %}

          <!-- Begin of downloads section -->
          <h1>{{ site.data.translations[page.language].downloads.distributions.title }}</h1>

          <p>{{ site.data.translations[page.language].downloads.distributions.text1 | replace: '$(NAME)', site.data[page.product].name }}</p>

          <p>{{ site.data.translations[page.language].downloads.distributions.text2 | replace: '$(GITHUB)', site.data[page.product].gitrepo }}</p>

          <h1>{{ site.data.translations[page.language].downloads.packages.title }}</h1>

          <p>{{ site.data.translations[page.language].downloads.packages.text1 }}</p>

          <div class="accordion">
{%- for version in site.data[page.product].versions %}
            <div class="row gutters-default">
              <div class="col col-12 col-lg-12">
                <ul class="accordion-list">
                  <li class="accordion-item section-bgc {% if forloop.first %}active{% endif %}" id="version-{{ version.normalized }}">
                    <div class="accordion-trigger package-version">
                      {{ site.data.translations[page.language].downloads.version }} {{ version.version }}
                      - {{ site.data.translations[page.language].downloads.release_date }}: {{ version.date }}
                    </div>
                    <div class="accordion-content content" {% if forloop.first %}style="display:block;"{% endif %}>
                      <div class="table-responsive-outer">
                        <div class="table-responsive">
                          <table class="table-secondary packages">
                            <thead>
                              <tr>
                                <th class="package-title package-type">{{ site.data.translations[page.language].downloads.packages.type }}</th>
                                <th class="package-title package-name">{{ site.data.translations[page.language].downloads.packages.name }}</th>
                                <th class="package-title package-checksum">{{ site.data.translations[page.language].downloads.packages.checksum }}</th>
                                <th class="package-title package-download">{{ site.data.translations[page.language].downloads.packages.download }}</th>
                              </tr>
                            </thead>
                            <tbody>
  {%- for package in version.packages %}
                              <tr>
                                <td class="package-type">
                                  <img class="package-icon" src="/theme/images/{{ site.data.translations[page.language].downloads.types[package.type].icon }}">
                                  {{ site.data.translations[page.language].downloads.types[package.type].title }}
                                </td>
                                <td class="package-name">{{ package.filename }}</td>
                                <td class="package-checksum">{{ package.md5sum | upcase }}</td>
                                <td class="package-download">
    {%- if package.type != 'aur' %}
                                  <a href="{{ site.data[page.product].gitrepo }}/releases/download/{{ version.version }}/{{ package.filename }}"
                                     title="{{ site.data.translations[page.language].downloads.from.github }}">
                                      <img src="/theme/images/github-32.png"></a>
    {%- else %}
                                  <a href="https://aur.archlinux.org/packages/{{ package.filename }}/"
                                     title="{{ site.data.translations[page.language].downloads.from.aur }}"
                                     target="_blank">
                                      <img src="/theme/images/archlinux-32.png"></a>
    {%- endif %}
                                </td>
                              </tr>
  {%- endfor %}
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
{%- endfor %}
          </div>
          <!-- End of downloads section -->

{% if page.content_after %}
            <!-- Begin of page content section -->
            {{ content }}
            <!-- End of page content section -->
{% endif %}
