---
layout: base
---
        <section id="main-content" class="full-width">
{% unless page.content_after %}
          <!-- Begin of page content section -->
          {{ content }}
          <!-- End of page content section -->
{% endunless %}
          <div class="row center">
            <div class="col col-lg-6">
                <a href="english/" title="{{ site.data.translations['english'].languages.english }}">
                    <img alt="{{ site.data.translations['english'].languages.english }}"
                         src="{{ site.data.translations['english'].icons.flag_maxi }}"><br>
                    {{ site.data.translations['english'].languages.english }}
                </a>
            </div>
            <div class="col col-lg-6">
                <a href="italian/" title="{{ site.data.translations['italian'].languages.italian }}">
                    <img alt="{{ site.data.translations['italian'].languages.italian }}"
                         src="{{ site.data.translations['italian'].icons.flag_maxi }}"><br>
                    {{ site.data.translations['italian'].languages.italian }}
                </a>
            </div>
          </div>
{% if page.content_after %}
          <!-- Begin of page content section -->
          {{ content }}
          <!-- End of page content section -->
{% endif %}
        </section>
