{% include header.html module=site.data.gwakeonlan %}
{{ content }}
        </section>
        <aside id="sidebar">
{% if page.url != '/gwakeonlan/index.html' %}
          <ul class="menu1">
            <li class="menu1"><a href="index.html">{% if page.language == 'italian' %}Introduzione{% else %}Introduction{% endif %}</a></li>
            <li class="menu1"><a href="download.html">{% if page.language == 'italian' %}Scarica{% else %}Download{% endif %}</a></li>
            <li class="menu1"><a href="install.html">{% if page.language == 'italian' %}Installazione{% else %}Installation{% endif %}</a></li>
            <li class="menu1"><a href="screenshots.html">{% if page.language == 'italian' %}Schermate{% else %}Screenshots{% endif %}</a></li>
            <li class="menu1"><a href="languages.html">{% if page.language == 'italian' %}Lingue supportate{% else %}Supported languages{% endif %}</a></li>
            <li class="menu1"><a href="wol.html">{% if page.language == 'italian' %}Wake On LAN{% else %}Wake On LAN{% endif %}</a></li>
            <ul class="menu2">
              <li class="menu2"><a href="wol_requirements.html">{% if page.language == 'italian' %}Requisiti{% else %}Requirements{% endif %}</a></li>
              <li class="menu2"><a href="wol_bios.html">{% if page.language == 'italian' %}nel BIOS{% else %}in the BIOS{% endif %}</a></li>
              <li class="menu2"><a href="wol_os.html">{% if page.language == 'italian' %}nel Sistema Operativo{% else %}in the Operating System{% endif %}</a></li>
            </ul>
            <li class="menu1"><a href="changelog.html">{% if page.language == 'italian' %}Cambiamenti{% else %}Changelog{% endif %}</a></li>
          </ul>
{% endif %}
{% include footer.html module=site.data.gwakeonlan %}
