{% include header.inc section=contacts %}
    <link rel="stylesheet" type="text/css" href="/theme/products.css" media="screen" />
  </head>

  <body>
    <header>
      <div class="inner">
        <h1>{{ site.data.common.name }}</h1>
        <h2>{{ page.title }}</h2>
      </div>
    </header>
    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content" class="full">
{{ content }}
        </section>
      </div>
    </div>
{% include section_footer.inc %}
  </body>
</html>
