{% include section_header.inc module=site.data.remmina-plugin-builder %}
{{ content }}
        </section>
        <aside id="sidebar">
{% if page.url != '/remmina-plugin-builder/index.html' %}
          <ul class="menu1">
            <li class="menu1"><a href="index.html">{% if page.language == 'italian' %}Introduzione{% else %}Introduction{% endif %}</a></li>
            <li class="menu1"><a href="download.html">{% if page.language == 'italian' %}Scarica{% else %}Download{% endif %}</a></li>
            <li class="menu1"><a href="install.html">{% if page.language == 'italian' %}Installazione{% else %}Installation{% endif %}</a></li>
            <li class="menu1"><a href="changelog.html">{% if page.language == 'italian' %}Cambiamenti{% else %}Changelog{% endif %}</a></li>
          </ul>
{% endif %}
{% include section_footer.inc module=site.data.remmina-plugin-builder %}
