---
layout: base
---
        <section class="full-width">
          <div class="full-width product">
            <div class="products-table">
  {% for section in site.sections %}
              <div class="product product-column">
                <div><a href="/{{ section }}/{{ page.language }}/">
                  <img src="/resources/{{ section }}/icons/{{ site.icon_home }}">
                  <div class="product-name">{{ site.data[section].name }}</div></a>
                  <div>
    {%- if page.language == 'italian' -%}
                    {{ site.data[section].description.italian }}
    {%- else -%}
                    {{ site.data[section].description.english }}
    {%- endif -%}
                  </div>
                </div>
              </div>
  {% endfor %}
            </div>
          </div>
  {{ page.content }}
        </section>
