---
title: Introduzione
---
          <h1><a name="description" class="anchor"></a>Descrizione</h1>
          <p><strong>{{ site.data.remmina-plugin-webkit.name }}</strong> &egrave;
            un plugin di protocollo libero per aprire una pagina web utilizzando
            un browser integrato basato su GTK+ WebKit. Diventa utile quando
            &egrave; necessario accedere alle risorse dalla finestra di Remmina,
            come avere accesso alle pagine web di amministrazione di router,
            stampanti e altre risorse in rete.</p>
          <p><img src="/resources/{{ page.layout }}/archive/latest/{{ page.language }}/general.png"></p>
          
{% include installation.md type='index' %}

          <h1><a name="settings" class="anchor"></a>Impostazioni</h1>
          <p>Le impostazioni del plugin {{ site.data.remmina-plugin-webkit.name }}
            sono documentate nella <a href="settings.html">pagina Impostazioni</a>.</p>

{% include license.html type='index' %}
