---
layout: remmina-plugin-webkit
title: Impostazioni
language: italian
---
          <h1><a name="general" class="anchor"></a>Scheda Generale</h1>
          <p><img src="../../resources/{{ page.layout }}/archive/latest/{{ page.language }}/general.png"></p>
          <ul>
{% include remmina-setting.html name="Server"                                   codename="server"             description="L'indirizzo del serve a cui connettersi." %}
{% include remmina-setting.html name="Risoluzione"                              codename="resolution"         description="La risoluzione della finestra server." %}
{% include remmina-setting.html name="Detached window"                          codename="detached"           description="Scollega la finestra del browser invece di mostrarla integrata in Remmina." %}
          </ul>

          <h1><a name="advanced" class="anchor"></a>Scheda Avanzato</h1>
          <p><img src="../../resources/{{ page.layout }}/archive/latest/{{ page.language }}/advanced.png"></p>
          <ul>
{% include remmina-setting.html name="Disable status bar"                       codename="no status"          description="Disabilita la barra di stato in basso." %}
{% include remmina-setting.html name="Disable toolbar"                          codename="no toolbar"         description="Disabilita la barra degli strumenti in alto." %}
{% include remmina-setting.html name="Disable button Back"                      codename="no back"            description="Disabilita il pulsante per la pagina precedente." %}
{% include remmina-setting.html name="Disable button Forward"                   codename="no forward"         description="Disabilita il pulsante per la pagina successiva." %}
{% include remmina-setting.html name="Disable URL location"                     codename="no url entry"       description="Disabilita la barra di inserimento dell'indirizzo." %}
{% include remmina-setting.html name="Disable button Go/Refresh"                codename="no go"              description="Disabilita il pulsante aggiorna/vai." %}
          </ul>
