---
title: Introduction
---
          <h1><a name="description" class="anchor"></a>Description</h1>
          <p><strong>{{ site.data.remmina-plugin-ultravnc.name }}</strong> is a
            free software protocol plugin to establish connections using
            <a href="http://www.uvnc.com/">UltraVNC</a>, an open source 
            control VNC client with many features developed for MS Windows
            and executable under GNU/Linux via Wine.</p>
          <p><img src="/resources/{{ page.layout }}/archive/latest/{{ page.language }}/general.png"></p>

          <p>UltraVNC installation is required in order to let this plugin to
            work properly.</p>

{% include installation.md type='index' %}

          <h1><a name="settings" class="anchor"></a>Settings</h1>
          <p>The {{ site.data.remmina-plugin-ultravnc.name }} plugin settings are
            documented in the <a href="settings.html">Settings page</a>.</p>

{% include license.html type='index' %}
