---
title: Settings
---
          <h1><a name="general" class="anchor"></a>Basic tab</h1>
          <p><img src="/resources/{{ page.layout }}/archive/latest/{{ page.language }}/general.png"></p>
          <ul>
{% include remmina-setting.html name="Server"                                   codename="server"             description="The server address to connect to." %}
{% include remmina-setting.html name="Password"                                 codename="password"           description="The password used to establish the connection." %}
{% include remmina-setting.html name="Force replace $ in \$ in the password"    codename="replacedollar"      description="Substitutues \$ in the password with just $, useful for some UltraVNC launchers." %}
          </ul>
